.site-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(235, 235, 235);
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 5px solid rgb(112, 202, 255);
}

.logo-img {
  height: 40%;
  width: 50%;
  display: block;
}

.hero-seccion {
  text-align: center;
}

.seccion-form {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  margin-top: 30px;
}

.site-form {
  width: 100%;
  max-width: 700px; 
  display: flex;
  flex-direction: column;
  gap: 25px; 
}

.grupo-input {
  display: flex;
  width: 100%;
  gap: 10px;
}

.input-form {
  flex-grow: 1;
  padding: 12px 20px;
  font-size: 15px;
  border: 2px solid #ccc;
  outline: none;
}

.boton-acortar {
  padding: 12px 25px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(112, 202, 255);
  border: none;
}

.grupo-secundario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.etiq-form {
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.input-form-secundario {
  padding: 10px 12px;
  font-size: 15px;
  border: 2px solid #ccc;
  width: 100%;
  max-width: 350px;
  outline: none;
  text-align: left;
}

.seccion-info {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

.faq-elemento {
  border-bottom: 1px solid #dbdbdb;
  padding: 12px 0;
}

.faq-pregunta:hover {
  color: rgb(112, 202, 255);
}


.seccion-candado {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-mensaje {
  color: red;
  font-weight: bold;
  font-size: 15px;
}

.formulario-password {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input-password-desbloquear {
  padding: 10px 12px;
  font-size: 15px;
  border: 2px solid #ccc;
  width: 300px;
  text-align: center;
  outline: none;
}

.boton-desbloquear {
  margin-top: 0;
}


@media (max-width: 600px) {
  .grupo-input {
    flex-direction: column;
  }

  .boton-acortar {
    width: 100%;
    padding: 15px;
  }

  .input-form-secundario {
    max-width: 100%;
  }


  .seccion-info {
    margin-left: 5%;
    margin-right: 5%;
  }
}