<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/estilos.css" />
    <title>MasCorto</title>
  </head>
  <body>
    <header id="main-header" class="site-header">
      <a href="/" class="logo-link">
        <img src="/static/logo_web.png" alt="Logotipo" class="logo-img" />
      </a>
    </header>

    <div class="hero-seccion">
      <h2 class="hero-titulo">Acorta tus enlaces. Comparte rápido</h2>
      <p class="hero-texto">
        Pega tu enlace, haz clic en acortar y obtén un enlace corto y seguro
        listo para compartir.
      </p>
    </div>

    <div class="seccion-form">
      <form class="site-form">
        <div class="grupo-input">
          <input id="url" type="text" placeholder="Enlace" class="input-form" />
          <button type="button" class="boton-acortar">Acortar</button>
        </div>
        <div class="grupo-fecha">
          <label for="fecha-caducidad" class="etiq-fecha"
            >¿Quando quieres que caduque? (Opcional):</label
          >
          <input
            id="fecha-caducidad"
            type="datetime-local"
            class="input-fecha"
          />
        </div>
        <div class="grupo-password">
          <input
            id="password-proteccion"
            type="text"
            placeholder="Contraseña (opcional)"
            class="input-form-password"
          />
        </div>
      </form>
    </div>
    <br /><br />

    <div class="seccion-info">
      <h3 class="info-titulo">¿Qué es un Acortador de enlaces?</h3>
      <p class="info-texto">
        Un acortador de enlaces es una herramienta digital que transforma un
        enlace largo y complejo en una versión mucho más corta y manejable. Esta
        tecnología es ideal para optimizar tus URL en plataformas donde el
        espacio es limitado (como en redes sociales). El sistema de MasCorto
        reemplaza tu enlace original por una cadena de caracteres breve que
        redirige exactamente a la misma página de destino, facilitando así su
        uso, lectura y distribución en cualquier entorno digital.
      </p>

      <h3 class="info-titulo">¿Qué es una URL o enlace?</h3>
      <p class="info-texto">
        Una URL (Uniform Resource Locator) es la dirección web específica que se
        utiliza para acceder a un recurso en Internet, ya sea una página, una
        imagen o un documento. En términos simples, es la ubicación exacta que
        le dice a tu navegador dónde encontrar algo (por ejemplo,
        "www.google.es"). Un enlace (o link) es una referencia dentro de un
        documento o sitio web que, al hacer clic sobre ella, te redirige a otra
        URL o a una sección diferente de la misma página. Mientras que las URLs
        son las direcciones completas, los enlaces facilitan la navegación de un
        punto a otro en la web.
      </p>

      <h3 class="info-titlo">Beneficios de usar un acortador de enlaces</h3>
      <p class="info-texto">
        En la era digital actual, donde la seguridad y la eficiencia son
        fundamentales, acortar tus enlaces va mucho más allá de una simple
        mejora estética.
      </p>

      <h4 class="sub-titulo">ventajas principales</h4>
      <ul class="lista-ventajas">
        <li class="lista-elementos">
          Seguridad y confianza garantizadas: Todos los enlaces generados
          utilizan el protocolo seguro HTTPS y SSL/TLS. Esto asegura que la
          comunicación está cifrada, protegiendo tus datos y los de tus
          usuarios, y evitando intercepciones.
        </li>
        <li class="lista-elementos">
          Optimización local y SEO: Los enlaces de MasCorto están adaptados al
          mercado español, permitiéndote utilizar palabras clave enfocadas a las
          búsquedas en Google.es.
        </li>
        <li class="lista-elementos">
          Personalización completa de marca: Mejora tu branding personalizando
          cada enlace. Puedes crear alias únicos y añadir palabras clave
          estratégicas para hacerlos más atractivos y fáciles de recordar.
        </li>
        <li class="lista-elementos">
          Generación de códigos QR: Con cada enlace corto puedes generar
          automáticamente un código QR, una función clave para conectar el mundo
          físico con el digital.
        </li>
      </ul>

      <h4 class="info-titulo">Casos prácticos y estrategias</h4>
      <ul class="lista-estrategias">
        <li class="lista-elementos">
          Redes sociales: Maximiza tu espacio y mejora tu tasa de clics (CTR) en
          plataformas como Instagram, Facebook y LinkedIn. Un enlace corto y
          personalizado destaca entre el ruido digital.
        </li>
        <li class="lista-elementos">
          Email marketing y Newsletters: Integra enlaces cortos en tus correos
          electrónicos para mejorar la estética visual de tus mensajes y
          realizar un seguimiento detallado de los usuarios que interactúan con
          tu contenido, ayudándote a segmentar mejor a tu audiencia.
        </li>
        <li class="lista-elementos">
          Campañas offline y eventos: Utiliza los códigos QR generados por tus
          enlaces cortos en materiales impresos como flyers, pósters, tarjetas
          de presentación o envases. Los usuarios solo tendrán que escanearlos
          con su móvil para acceder al instante a tu web
        </li>
        <li class="lista-elementos">
          Publicidad digital: Optimiza tus anuncios en plataformas como Google
          Ads o Facebook Ads usando enlaces más limpios y enfocados en tus
          palabras clave, aprovechando al máximo el espacio de tus mensajes
          publicitarios.
        </li>
      </ul>

      <h3 class="info-titulo">
        Preguntas frecuentes sobre acortadores de enlaces
      </h3>

      <details class="faq-elemento">
        <summary class="faq-pregunta">
          ¿Por qué es importante usar HTTPS en mis enlaces cortos?
        </summary>
        <p class="faq-respuesta">
          El protocolo HTTPS garantiza la seguridad de los datos mediante el
          cifrado de la conexión. Además de proteger la privacidad, genera mayor
          confianza en los usuarios al hacer clic y es un factor positivo para
          el posicionamiento SEO en buscadores.
        </p>
      </details>

      <details class="faq-elemento">
        <summary class="faq-pregunta">
          ¿Caducan o dejan de funcionar los enlaces cortos?
        </summary>
        <p class="faq-respuesta">
          Por lo general, no caducan y funcionan de manera indefinida. Sin
          embargo, el principal riesgo es que si la plataforma de acortamiento
          que utilizaste cierra o deja de operar, todos los enlaces creados con
          ella se romperán y dejarán de redirigir
        </p>
      </details>

      <details class="faq-elemento">
        <summary class="faq-pregunta">¿Es seguro hacer clic en ellos?</summary>
        <p class="faq-respuesta">
          Las URL acortadas son seguras en sí mismas, pero pueden representar un
          riesgo si provienen de fuentes desconocidas. Esto se debe a que
          ocultan la dirección de destino final, lo que a veces es aprovechado
          por ciberdelincuentes para camuflar sitios de phishing o descargas de
          malware. Se recomienda desconfiar de enlaces sospechosos o pasarlos
          por verificadores externos (como URL X-Ray) antes de abrirlos
        </p>
      </details>
    </div>
    {% if error %}
    <script>
      const irAlinicio = confirm(
        "Avido\n {{ error }}\n ¿Quieres ir a la página principal?",
      );
      if (irAlinicio) {
        window.location.href = "/";
      }
    </script>
    {% endif %}
    <script src="/static/main.js"></script>
  </body>
</html>
