<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enlace protegido</title>
  </head>
  <body>
    <header class="site-header">
      <a href="/" class="logo-link">
        <img src="/static/logo_web.png" alt="Logotipo" class="logo-img" />
      </a>
    </header>

    <div class="hero-seccion seccion-candado">
      <h2>Enlace protegido</h2>

      {% if error %}
      <p class="error-mensaje">{{ error }}</p>
      {% else %}
      <p class="hero-texto">
        Este enlace requiere una contraseña para acceder a su contenido.
      </p>
      {% endif %}

    </div>
      <form method="POST" action="/{{ short_code }}" class="formulario-password">
        <input class="input-form input-password-desbloquear" type="password" name="password_ingresada" placeholder="Introduce la contraseña..." required/>
        <button type="submit" class="boton-acortar boton-desbloquear">Desbloquear</button>
      </form>
    </div>
  </body>
</html>
